.menu-wrapper {
    border-bottom: 1px solid #ccc;
}
.menu-item {
    display: flex;
    align-items: center;
    font-size: 1.8rem;
    font-weight: 700;
    padding: 8px 0;
    border-radius: 4px;
    transition: background-color ease-in-out 0.2s;
    &.active {
        color: var(--primary);

        .icon {
            display: none;
        }
        .active-icon {
            display: flex;
        }
    }
    &:hover {
        background-color: rgba(22, 24, 35, 0.05);
    }
}

.menu-title {
    margin-left: 8px;
}

.active-icon {
    display: none;
}

.icon {
    display: flex;
}
